	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">OneCenter</a></div>
						</div>
						<div class="footer_title">Em caso de duvidas? Ligue-nos</div>
						<div class="footer_phone">+55(11)95005-3570</div>
						<div class="footer_contact_text">
							<p>Avenida ações Nº500, Jardim</p>
							<p>São Paulo, SP</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-2 offset-lg-2">
					<div class="footer_column">
						<div class="footer_title">Encontre-o rapidamente</div>
						<ul class="footer_list">
							<li><a href="#">Computadores e laptops</a></li>
							<li><a href="#">Câmeras e fotos</a></li>
							<li><a href="#">Hardware</a></li>
							<li><a href="#">Smartphones e tablets</a></li>
							<li><a href="#">TV e áudio</a></li>
						</ul>
						<div class="footer_subtitle">Aparelhos</div>
						<ul class="footer_list">
							<li><a href="#">Eletrônica do carro</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<ul class="footer_list footer_list_2">
							<li><a href="#">Videogames e consoles</a></li>
							<li><a href="#">Acessórios</a></li>
							<li><a href="#">Câmeras e fotos</a></li>
							<li><a href="#">Hardware</a></li>
							<li><a href="#">Computadores e laptops</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Servico de atendimento ao Consumidor</div>
						<ul class="footer_list">
							<li><a href="#">Minha conta</a></li>
							<li><a href="#">Acompanhamento de pedidos</a></li>
							<li><a href="#">Lista de Desejos</a></li>
							<li><a href="#">Atendimento ao cliente</a></li>
							<li><a href="#">Devoluções / Trocas</a></li>
							<li><a href="#">Perguntas frequentes</a></li>
							<li><a href="#">Suporte ao produto</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>